# Java
target/
*.class
*.jar

# Python
__pycache__/
*.pyc
.pytest_cache/
venv/

# Node
node_modules/
coverage/

# Go
vendor/

# Environment
.env
Aplications/ecommerce-platform/.env

# Docker
*.log

# IDE
.idea/
.vscode/
*.swp

# Jenkins

Aplications/ecommerce-platform/jenkins_home

Git/my-blog/node_modules
website-templates/
